@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  li {
    list-style: none;
    a {
      text-decoration: none;
    }
  }
  h1 {
    font-family: "Montserrat", sans-serif;
  }
}

// sidebar
.sidebar {
  z-index: 10;
  ul {
    list-style: none;
    a {
      color: black;
      font-size: 1rem;
    }
  }
  width: 6rem;
  height: 100%;
  position: fixed;
  background-color: #1f1812;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.menu-icon {
  padding-top: 3rem;
  .line {
    cursor: pointer;
  }
  .line2 {
    height: 0.2rem;
    width: 2rem;
    background-color: #e8e5e5 !important;
    margin-bottom: 0.3rem;
  }
  .line1,
  .line3 {
    height: 0.2rem;
    width: 1.2rem;
    background-color: #e8e5e5 !important;
    margin-bottom: 0.3rem;
  }
}
.menu-icon:hover {
  .line1,
  .line3 {
    width: 2rem;
    transition: 0.3s ease-in;
  }
}

// social media icons adjustment
.media-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 13rem;
  i {
    font-size: 1.2rem;
    color: white;
  }
  i:hover {
    color: #cdcdcd;
    transition: 0.8s ease;
  }
}

.year {
  p {
    font-size: 14px;
    color: white;
    margin-bottom: 3rem;
  }
}
// sidebar end
// navbar
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: -14rem;
  position: fixed;
  z-index: 5;
  input {
    width: 75%;
    margin: 2rem 1rem;
    background: none;
    border: none;
    color: white;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.733);
    outline: none;
    letter-spacing: 0.1rem;
  }
  // notes for the lecture input:focus { background-color: white  } , I don't used to change the input bg color
  input::placeholder {
    color: #b1b1b1;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
  }
  a {
    text-transform: uppercase;
    color: #4b4b4b;
  }
  width: 20rem;
  height: 100%;
  background: linear-gradient(
      90deg,
      rgba(118, 115, 113, 0.804),
      rgba(110, 75, 41, 0.792)
    ),
    url("./nav-bk.webp") center no-repeat;
  background-size: cover;
  p {
    margin-bottom: 3rem;
    text-align: center;
  }
  .navigation-heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #cdcdcd;
    text-align: center;
    padding-top: 3rem;
    font-weight: 400;
  }
  .navigation-search-btn {
    border: none;
    background: none;
    color: #b1b1b1;
    position: absolute;
    top: 1.9rem;
    right: 3.5rem;
    cursor: pointer;
  }

  .navigation-search {
    /* the position relative is give beacuse this is the parent (form ) 
    holding the input and search icon to move 
    icon we have to mak ethe parent position relative and we can 
    use the position fixed to the icon to change the position inside the parent element */
    position: relative;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 2rem;
    transition: 1s ease-in;
  }
  a:hover {
    color: white;
    font-size: 1rem;
  }
  .navigation-link {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #cdcdcd;
    text-transform: uppercase;
  }
  .navigation-item {
    position: relative;
  }
  .navigation-link::before {
    content: "";
    width: 0rem;
    height: 0.1rem;
    background-color: #cdcdcd;
    position: absolute;
    top: 1rem;
    left: -4rem;
    transition: width 0.5s cubic-bezier(1, 0, 0, 1);
  }
  .navigation-link::after {
    content: "";
    width: 0rem;
    height: 0.1rem;
    background-color: #cdcdcd;
    position: absolute;
    top: 1rem;
    right: -4rem;
    transition: width 0.5s cubic-bezier(1, 0, 0, 1);
  }
  .navigation-link:hover::before,
  .navigation-link:hover::after {
    width: 3rem;
  }

  .copy-right {
    p {
      font-size: 0.7rem;
      font-weight: 200;
      color: #cdcdcd;
    }
  }
}

.navigation.active {
  left: 6rem;
  transition: 0.8s cubic-bezier(1, 0, 0, 1);
}
// end of navbar

// header section

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 6rem;
  img {
    margin-left: 1rem;
    height: 2rem;
  }
  height: 100vh;
  background: linear-gradient(
      275deg,
      rgba(45, 27, 18, 0.708),
      rgba(102, 97, 88, 0.457)
    ),
    url(./resort.jpeg) center/cover;

  .brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 3.2rem;
      text-transform: uppercase;
      color: rgb(222, 222, 222);
      text-align: center;
      font-weight: 400;
      letter-spacing: 0.2rem;
      margin-left: 1rem;
      margin-top: 0.3rem;
    }
  }

  .banner {
    margin: 2rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 2rem;
      text-transform: uppercase;
      color: #cdcdcd;
      text-align: center;
      font-weight: 400;
      letter-spacing: 0.1rem;
      margin-bottom: 2rem;
      animation: anima 2s ease-in;
    }
    p {
      font-size: 0.8rem;
      text-transform: uppercase;
      color: #cdcdcd;
      text-align: center;
      font-weight: 400;
      letter-spacing: 0.1rem;
      margin-bottom: 2rem;
    }

    button {
      border-radius: 10rem;
      background: none;
      border: none;

      a {
        font-size: 1.2rem;
        text-decoration: none;
        background: none;
        color: #e8e5e5;
        padding: 0.8rem 1rem;
        font-family: "Montserrat", sans-serif;
      }
      a:hover {
        color: white;
      }
    }
  }
  // button:active {
  //   transform: translateY(0.2rem);
  // }
  /*  The translatey used to move the tragated item in to y axis so that in onclick it will create a simple jumping effect. */
  @keyframes anima {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
}

// end of header

// about us

#aboutus {
  .aboutus-heading {
    margin-right: 1rem;
    margin-left: 2rem;
  }
  margin-left: 6rem;
  height: auto;
  background-color: #ddd;
  display: flex;
  .aboutus-content {
    padding: 5rem;
    box-sizing: border-box;
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutus-img {
    flex: 1 1 50%;
  }
  .heads {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    .aboutus-heading {
      font-size: 3rem;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  .underline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    .small-underline {
      width: 9rem;
      height: 0.1rem;
      background-color: #4b4b4b;
    }
    .big-underline {
      width: 9rem;
      height: 0.2rem;
      background-color: #1f1812;
    }
  }

  .sub-heading {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: #4b4b4b;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }
  .aboutus-para {
    p {
      font-size: 1rem;
      font-weight: 500;
      color: #1e1e1e;
      font-style: italic;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      margin: 1.5rem 0;
    }
  }
  .aboutus-btn {
    margin-top: 1.2rem;
    width: 15rem;
    padding: 0.7rem 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: transparent;
    border: 0.1rem solid rgb(78, 78, 78);
    box-shadow: #4b4b4b;
    outline: none;
    cursor: pointer;
  }
  .btn-arrow {
    margin-left: 0.5rem;
    transition: margin-left 0.5s ease-in-out;
  }
  .aboutus-btn:hover {
    .btn-arrow {
      margin-left: 1.5rem;
    }
  }
  .aboutus-img {
    margin-top: 7.7rem;
    position: relative;
    .img {
      width: 18rem;
      position: absolute;
      top: 50%;
      left: 50%;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
    }
    .img-1 {
      transform: translate(-30%, -150%);
    }
    .img-2 {
      transform: translate(-110%, -120%);
    }
    .img-3 {
      transform: translate(-20%, -60%);
    }
    .img-4 {
      transform: translate(-115%, -20%);
    }
  }
}
// about us ended

// room card
#room {
  margin-left: 6rem;
  // common-header
  .common-header {
    padding: 3rem;
    text-align: center;
    color: #4b4b4b;
  }
  .common-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
  }
  // common-header edting ends
  span {
    color: #1f1812;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  .underline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    .small-underline {
      width: 9rem;
      height: 0.1rem;
      background-color: #4b4b4b;
    }
    .big-underline {
      width: 9rem;
      height: 0.2rem;
      background-color: #1f1812;
    }
  }
  // room card
  .room-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .room-card {
      width: 30rem;
      margin: 2.5rem;
      background: #1f1812;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
      img {
        width: 100%;
      }
    }
    .room-card-content {
      color: #e0dcdc;
      padding: 2rem;
      .room-card-para,
      .room-card-price,
      .room-card-btn {
        margin-left: 1rem;
      }
    }

    .book {
      margin-top: 1rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      .room-card-price,
      .room-card- {
        margin-left: 1rem;
      }
      .room-card-price {
        font-size: 3rem;
      }
    }
    .room-card-heading {
      margin: 0;
      margin-bottom: 1rem;
      font-weight: 500;
      font-size: 2rem;
    }
  }

  .room-card-btn {
    width: 15rem;
    padding: 0.7rem 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    background: none;
    color: #e0dcdc;
    outline: none;
    cursor: pointer;
  }
  .btn-arrow {
    margin-left: 0.5rem;
    transition: margin-left 0.5s ease-in-out;
  }
  .room-card-btn:hover {
    .btn-arrow {
      margin-left: 1.5rem;
    }
  }
}
// rooms ended
// customer opend
#customer {
  margin-left: 6rem;
  background-color: #cdcdcd;
  .common-header {
    padding-top: 4rem;
  }
  .common-heading {
    text-align: center;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  span {
    margin-left: 0.7rem;
    color: #1f1812;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  .customer-para {
    text-align: center;
    color: #1f1812;
    font-size: 0.9rem;
    margin: 2rem 0 4rem 0;
  }

  .underline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    .small-underline {
      width: 9rem;
      height: 0.1rem;
      background-color: #4b4b4b;
    }
    .big-underline {
      width: 9rem;
      height: 0.2rem;
      background-color: #1f1812;
    }
  }
  .customer-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .customer-card {
      width: 70%;
      display: flex;
      flex-direction: row;
      img {
        width: 100%;
        height: 100%;
      }
      .cum-2 {
        flex-direction: row-reverse !important;
      }
      margin-bottom: 2rem !important;
      background-color: #1f1812;
      margin: 1rem;
      color: #ddd;
      box-shadow: 0 1rem 6rem rgb(0, 0, 0, 0.3);
    }
  }
  .customer-info {
    padding-top: 2rem;
    padding-left: 2rem;
    .customer-fname {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    .customer-para-1 {
      margin-bottom: 1rem;
    }
    .customer-para-2 {
      font-size: 0.8rem;
    }
  }
}
// customer ended

// footer opend
#footer {
  margin-left: 6rem;
  color: #e0dcdc;
  background-color: #1f1812;
  a {
    text-decoration: none;
    color: #e0dcdc;
  }
  h1,
  h3 {
    font-size: 1.2rem !important;
    font-weight: 300 !important;
    margin-bottom: 1.5rem;
    color: white !important;
  }
  .main-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
  }
  .footer-heading {
    font-size: 0.8rem;
    color: #e0dcdc;
  }
  .footer-list {
    padding: 0.2rem 0;
    text-align: center;
  }
  p {
    margin-bottom: 0.7rem;
  }

  form {
    display: flex;
    .footer-input {
      font-size: 1rem;
      border: none;
      color: #1f1812;
      padding: 0.5rem;
    }
    .footer-btn {
      background-color: #cdcdcd;
      padding: 0.7rem;
      border: none;
      color: #1f1812;
      font-weight: bolder;
    }
  }
  .gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .gal-img {
    width: 6rem;
    img {
      width: 100%;
      padding: 0.2rem;
    }
    .item-1 {
      display: flex;
      margin-right: 1rem;
    }
  }
  .gal-img-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .creater {
    display: flex;
    background-color: #1e1e1e;
    align-items: center;
    justify-content: space-between;
    p {
      margin: 0;
    }
    div {
      margin: 1rem 2rem;
    }
  }
  a:hover {
    color: white;
  }
}
// footer ended

// Making web responsive from the below code

@media (max-width: 1400px) {
  #footer {
    .main-footer {
      display: flex;
      flex-direction: column;
    }
    ul {
      display: flex;
      flex-direction: row !important;
      li {
        margin: 0 0.5rem;
      }
      margin-bottom: 1rem;
    }
  }
  .footer-form {
    margin-bottom: 1rem;
  }

  #customer {
    .customer-img-wrapper {
      img {
        padding: 0 !important;
        height: 100%;
      }
    }
  }
  #customer {
    .customer-info {
      .customer-para-2 {
        font-size: 0.8rem;
        padding-right: 0.5rem;
        padding-bottom: 2rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  #customer {
    .customer-img-wrapper {
      img {
        padding: 0 !important;
        height: 100%;
      }
    }
  }
  #customer {
    .customer-info {
      .customer-para-2 {
        font-size: 0.8rem;
        padding-right: 0.5rem;
        padding-bottom: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #customer {
    .customer-para {
      padding: 0 1rem !important;
    }
    .customer-card-wrapper {
      display: flex;
      flex-wrap: wrap;
      .customer-card {
        display: flex;
        flex-direction: column;
        .cum-2 {
          flex-direction: row;
        }
        .customer-para-2 {
          padding-bottom: 3rem;
        }
      }
      img {
        padding: 0 !important;
      }
    }
  }
}

@media (max-width: 600px) {
  #customer {
    .customer-para {
      padding: 0 1rem !important;
    }
  }
  #footer {
    .footer-list-wrapper {
      ul {
        flex-direction: column !important;
        align-items: baseline;
        li {
          margin-bottom: 0.2rem;
          margin-left: 0.3rem;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #aboutus {
    .underline {
      width: 70%;
    }
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    .aboutus-heading {
      font-size: 1.5rem !important;
      margin: 0 0.2rem 0 0;
    }
    .sub-heading {
      padding-left: 0.5rem;
      font-size: 0.8rem !important;
      width: 10rem !important;
    }
    p {
      font-size: 0.8rem !important;
    }
    height: 150vh;
    .aboutus-img {
      margin: 0;
      img {
        width: 12rem !important;
      }
    }
  }
}

@media (max-width: 600px) {
  #header,
  #aboutus,
  #room,
  #customer,
  #footer {
    margin-left: 4rem;
  }
  #footer {
    .copy-right,
    .text-right {
      font-size: 0.7rem;
    }
  }
  .navbar {
    .sidebar {
      width: 4rem;
    }
  }
  .navigation {
    left: -16rem;
  }

  #header {
    .brand {
      h1 {
        font-size: 2rem !important;
      }
    }
    .banner {
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.8rem !important;
      }
    }
  }
  #aboutus {
    .aboutus-img {
      margin-left: 4.5rem;
    }
  }
  #room {
    .common-header {
      .common-heading {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
      padding-bottom: 0;
      span {
        font-size: 1.5rem;
      }
    }
    .room-card-wrapper {
      .room-card {
        width: 80%;
      }
    }
    .room-card-content {
      .room-card-heading {
        font-size: 1.6rem;
      }
      .room-card-para {
        font-size: 0.8rem;
      }
      .book {
        .room-card-price {
          font-size: 1.4rem;
        }
        .room-card-btn {
          font-size: 0.7rem;
        }
      }
    }
  }
  .sidebar {
    .year {
      p {
        font-size: 0.6rem;
      }
    }
  }
  #aboutus {
    .aboutus-img {
      .img-1 {
        transform: translate(-45%, -150%);
      }
      .img-2 {
        transform: translate(-100%, -120%);
      }
      .img-3 {
        transform: translate(-40%, -70%);
      }
      .img-4 {
        transform: translate(-105%, -30%);
      }
    }
  }
  .navigation.active {
    margin-left: -3rem;
  }
}

@media (max-width: 400px) {
  #room {
    .room-card-content {
      .book {
        .room-card-price {
          font-size: 1rem;
        }
        .room-card-btn {
          font-size: 0.5rem;
        }
      }
    }
  }
}
